@keyframes slideFromRight {
    0% {
    transform: translateX(10rem); }
    80% {
    transform: translateX(-1rem); }
    100% {
    display: block !important;    
    transform: translate(0); } 
}


body{
    overflow-x: hidden;
}
.landing-image{
    background-image : url(../img/scene.png);
    height : 100vh;
    width : 100vw;
    background-size : cover;
    background-position : top left;
}

.landing-text {
    padding : 40px;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.274) ,rgba(0, 0, 0, 0.219));
    font-family: "Montserrat", sans-serif;
    width : 100%;
    text-transform: uppercase;
}

.landing-text h1{
    font-weight : 600;
    letter-spacing : 1.75rem;
    text-transform : uppercase;
}

.landing-text p{
    font-weight : 300;
    letter-spacing : 1rem;
    text-transform : uppercase;
    width : 100%;
}

.landing-page-roles{
    background-image : url(../img/shoot0.jpg);
    height : 100vh;
    width : 100vw;
    background-size : cover;
    background-position : top left;
}

.new{
    transform: scale(0.8);
    transition: all linear 0.2s;
}

.new:hover{
    transform: translateY(-1.5rem) scale(0.85);
    background-color: #cccccc;
}

.card-link{
    text-decoration: none;
    text-transform: uppercase;
    font-size : 20px;
    width : 60%;
}

.landing-page-movie{
    height: auto;
    width: 100vw;
    background-color : #004883;
    text-transform: uppercase;
}

.landing-header{
    padding : 60px 0px;
    font-weight: 700;
    background-image: linear-gradient(to right, #cccccc, #666666);
    -webkit-background-clip: text;
    color: transparent;
    letter-spacing: .2rem;
    transition: all .2s;
}

.landing-header:hover{
    transform: skewY(2deg) skewX(15deg) scale(1.1);
    text-shadow: 0.5rem 1rem 2rem rgba(0, 0, 0, 0.2);
}

.movie-title{
    font-family: 'Poppins', sans-serif;
    font-weight : 200;
    font-size: larger;
    display: none;
    letter-spacing: 3px;
}

.check-out{
    display: none;
}

.check-out>a{
    font-family: 'Poppins', sans-serif;
    font-weight : 400;
    font-size: smaller;
    border-radius: 20px;
}

.animate-show{
    animation: slideFromRight 1s;
    display: block;
}

.discover{
    background-image: linear-gradient(to right bottom, rgba(50, 149, 230, 0.85), rgba(0, 72, 131, 0.85));
    color : white;
    text-transform: uppercase;
    padding : 20px;
    border-radius: 50px;
    font-family: 'Poppins', sans-serif;
    font-weight : 300;
    letter-spacing: 2px;
}

.member-benefits{
    padding : 20px 0px;
}

.quotes{
    padding-top : 10px;
    padding-right : 10px;
    font-size: 28px;
    width: 50%;
    color : #004883;
    font-family: 'Poppins', sans-serif;
    font-weight : 400;
    letter-spacing : 3px;
}

.call_to_action{
    height : 70vh;
}

.call_to_action_text{
    font-size: 35px;
    color : white;
}



@media only screen and (max-width: 768px) {
    .landing-page-roles{
        height: auto;
    }

    .call_to_action{
        height: auto;
    }

    .call_to_action_text{
        font-size: 20px;
        color : white;
    }

    .movie-title{
        font-size: 12px;
        letter-spacing: 2px;
    }
        
    .check-out>a{
        font-size: 8px;
        border-radius: 20px;
    }
    
}

@media only screen and (max-width: 425px) {
    .landing-page-roles{
        height: auto;
    }

    .carousel{
        height : 50vh;
    }

   .carousel img{
       padding-top : 35px;
       width : 200px;
       height : 150px;
   }

   .quotes{
    padding-top : 20px;
    font-size: 14px;
   }

   .call_to_action{
       height: auto;
   }

   .call_to_action_text{
    font-size: 18px;
    color : white;
    text-align : center;
    }

    .call_to_action_img{
        height : 50vh;
        margin-top: 10px;
    }

    .fa{
        font-size: 15px;
    }

    .card{
        margin-top: 50px;
     }

     .check-out>a{
        font-size: 10px;
        border-radius: 20px;
    }


}




