@mixin clearfix {
    &::after {
        content: "";
        display: table;
        clear: both;
    }
}

@mixin enableFlex($direction: false) {
    display: flex;
    align-items: center;
    justify-content: center;
    @if $direction {
      flex-direction: column;
    }
  }

  @mixin buttonStyles($backgroundColor, $fontColor) {
    padding: 0.8rem 1.5rem;
    width: 22rem;
    border-radius: 0.2rem;
    outline: none;
    border: none;
    font-size: medium;
    background-color: $backgroundColor;
    color: $fontColor;
    cursor: pointer;
    transition: background 0.5s;
    &:hover {
      background: darken($backgroundColor, 20%)
        radial-gradient(circle, transparent 1%, darken($backgroundColor, 20%) 1%)
        center/15000%;
    }
    &:active {
      background-color: darken($backgroundColor, 30%);
      background-size: 100%;
      transition: background 0s;
    }
  }





// MEDIA QUERY MANAGER
/*
0-600px:      Phone
600-900px:    Tablet Portrait
900=1200px:    Tablet landscape
(1200 - 1800) is where our normal styles apply
1800px +:    Big desktop

$breakpoint argument choices:
- phone
- tab-port
- tab-land
- big-desktop

ORDER: Base + typography > general layout + grid > page layout > components

1em = 16px
*/
@mixin respond($breakpoint) {
  @if $breakpoint == phone {
    @media (max-width: 37.5em) { @content }; //600px
  }
  @if $breakpoint == tab-port {
    @media (max-width: 56.25em) { @content }; //900px
  }
  @if $breakpoint == tab-land {
    @media (max-width: 75em) { @content }; //1200px
  }
  @if $breakpoint == big-desktop {
    @media (min-width: 112.5em) { @content }; //1800px
  }
}