//COLORS
$color-white: #fff;
$color-black: #000;

$color-primary: #FBBF00;
$color-primary-light: #ffff00;
$color-primary-dark:  #d1a002;

$color-grey-light: #cccccc;
$color-grey-light-2: #f4f2f2;
$color-grey: #777;
$color-grey-dark:#666666;

$color-secondary: #1c87c9;
$color-secondary-light: #3295e6;
$color-secondary-dark: #004883;


//GRID
$grid-width: 100%;
$gutter-vertical: 8rem;
$gutter-horizontal: 3rem;

// SIGNUP/LOGIN FORM
$mainFont: "Montserrat", sans-serif;

$gradientColor1: #004883;
$gradeintColor2: #1c87c9;
$formBackgroundColor: #3295e6;
$pinkOutline: #a31a6a;
$loginButtonTextColor: white;
$newAccountButtonColor: #ffff00;
$newAccountButtonTextColor: rgb(36, 34, 34);
$inputBackgroundColor: #666666;
$inputPlaceholderColor: rgba(255, 255, 255, 0.548);
$loginWithAccountsTextColor: white;
$inputTextColor: white;
$forgetHoverColor: white;
$requiredfield: rgb(202, 20, 20);