@-webkit-keyframes moveInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-10rem);
            transform: translateX(-10rem);
  }
  80% {
    -webkit-transform: translateX(1rem);
            transform: translateX(1rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}

@keyframes moveInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-10rem);
            transform: translateX(-10rem);
  }
  80% {
    -webkit-transform: translateX(1rem);
            transform: translateX(1rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}

@-webkit-keyframes moveInRight {
  0% {
    opacity: 0;
    -webkit-transform: translateX(10rem);
            transform: translateX(10rem);
  }
  80% {
    -webkit-transform: translateX(-1rem);
            transform: translateX(-1rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}

@keyframes moveInRight {
  0% {
    opacity: 0;
    -webkit-transform: translateX(10rem);
            transform: translateX(10rem);
  }
  80% {
    -webkit-transform: translateX(-1rem);
            transform: translateX(-1rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}

@-webkit-keyframes moveInBottom {
  0% {
    opacity: 0;
    -webkit-transform: translateY(3rem);
            transform: translateY(3rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}

@keyframes moveInBottom {
  0% {
    opacity: 0;
    -webkit-transform: translateY(3rem);
            transform: translateY(3rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  line-height: 1.7;
  color: #777;
}

.heading-primary {
  color: #000;
  text-transform: uppercase;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  margin-bottom: 6rem;
}

.heading-primary--main {
  display: block;
  font-size: 4rem;
  font-weight: 600;
  letter-spacing: 3.5rem;
  -webkit-animation-name: moveInLeft;
          animation-name: moveInLeft;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-timing-function: ease-out;
          animation-timing-function: ease-out;
}

.heading-primary--sub {
  display: block;
  font-size: 1.5rem;
  font-weight: 450;
  letter-spacing: 1.75rem;
  -webkit-animation: moveInRight 1s ease-out;
          animation: moveInRight 1s ease-out;
}

.heading-secondary {
  color: #fff;
  background-color: #000;
  border: 1px solid #3295e6;
  font-size: 1.9rem;
  text-transform: uppercase;
  text-align: center;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  padding: 2rem;
}

.heading-tertiary {
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 700;
  display: inline-block;
  background-image: -webkit-gradient(linear, left top, right top, from(#cccccc), to(#666666));
  background-image: linear-gradient(to right, #cccccc, #666666);
  -webkit-background-clip: text;
  color: transparent;
  letter-spacing: .2rem;
  -webkit-transition: all .2s;
  transition: all .2s;
}

.heading-tertiary:hover {
  -webkit-transform: skewY(2deg) skewX(15deg) scale(1.1);
          transform: skewY(2deg) skewX(15deg) scale(1.1);
  text-shadow: 0.5rem 1rem 2rem rgba(0, 0, 0, 0.2);
}

.heading-tertiary-small {
  font-size: 1.6rem;
  font-weight: 700;
  text-transform: uppercase;
}

.heading-tertiary-small-1 {
  font-size: 1.6rem;
  font-weight: 700;
  text-transform: uppercase;
}

.paragraph {
  font-size: 1.6rem;
}

.paragraph:not(:last-child) {
  margin-bottom: 3rem;
}

.u-center-text {
  text-align: center;
}

.u-margin-bottom-small {
  margin-bottom: 1.5rem;
}

.u-margin-bottom-medium {
  margin-bottom: 4rem;
}

.u-margin-bottom-big {
  margin-bottom: 8rem;
}

.u-margin-top-big {
  margin-top: 8rem;
}

.btn:link, .btn:visited {
  padding: .8rem .5rem;
  color: #fff;
  display: inline-block;
  font-size: 1.2rem;
  border: 2px solid #fff;
  border-radius: .5rem;
  -webkit-transition: all .2s;
  transition: all .2s;
  position: relative;
  cursor: pointer;
  text-decoration: none;
}

.btn:hover {
  -webkit-transform: translateY(-3px);
          transform: translateY(-3px);
  background-color: #e2ac00;
  color: #000;
  -webkit-box-shadow: 0 1rem 2rem rgba(102, 102, 102, 0.2);
          box-shadow: 0 1rem 2rem rgba(102, 102, 102, 0.2);
}

.btn:active {
  -webkit-transform: translateY(-1px);
          transform: translateY(-1px);
  -webkit-box-shadow: 0 0.5rem 1rem rgba(102, 102, 102, 0.2);
          box-shadow: 0 0.5rem 1rem rgba(102, 102, 102, 0.2);
}

.btn--white {
  background-color: none;
  color: #fff;
}

.btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: .5rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  -webkit-transition: all .4s;
  transition: all .4s;
}

.btn:hover::after {
  -webkit-transform: scaleX(1.4) scaleY(1.6);
          transform: scaleX(1.4) scaleY(1.6);
  opacity: 0;
}

.btn--white::after {
  background-color: transparent;
}

.btn--animated {
  -webkit-animation: moveInBottom .5s ease-out .75s;
          animation: moveInBottom .5s ease-out .75s;
  -webkit-animation-fill-mode: backwards;
          animation-fill-mode: backwards;
}

.bttn:link, .bttn:visited {
  padding: 1rem 3rem;
  color: #fff;
  display: inline-block;
  font-size: 1.2rem;
  border-radius: 10rem;
  -webkit-transition: all .2s;
  transition: all .2s;
  position: relative;
  cursor: pointer;
  text-decoration: none;
}

.bttn:hover {
  -webkit-transform: translateY(-3px);
          transform: translateY(-3px);
  background-color: #f2f2f2;
  color: #000;
  -webkit-box-shadow: 0 1rem 2rem rgba(102, 102, 102, 0.2);
          box-shadow: 0 1rem 2rem rgba(102, 102, 102, 0.2);
}

.bttn:active {
  -webkit-transform: translateY(-1px);
          transform: translateY(-1px);
  -webkit-box-shadow: 0 0.5rem 1rem rgba(102, 102, 102, 0.2);
          box-shadow: 0 0.5rem 1rem rgba(102, 102, 102, 0.2);
}

.bttn--white {
  background-color: none;
  color: #fff;
}

.bttn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 10rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  -webkit-transition: all .4s;
  transition: all .4s;
}

.bttn:hover::after {
  -webkit-transform: scaleX(1.4) scaleY(1.6);
          transform: scaleX(1.4) scaleY(1.6);
  opacity: 0;
}

.bttn--white::after {
  background-color: #3295e6;
}

.bttn--animated {
  -webkit-animation: moveInBottom .5s ease-out .75s;
          animation: moveInBottom .5s ease-out .75s;
  -webkit-animation-fill-mode: backwards;
          animation-fill-mode: backwards;
}

.btnn:link, .btnn:visited {
  padding: 1.3rem 3rem;
  background-color: #3295e6;
  color: #fff;
  display: inline-block;
  font-size: 1.5rem;
  border-radius: 10rem;
  -webkit-transition: all .2s;
  transition: all .2s;
  position: relative;
  cursor: pointer;
  text-transform: uppercase;
  text-decoration: none;
}

.btnn:hover {
  -webkit-transform: translateY(-3px);
          transform: translateY(-3px);
  background-color: #1c89e3;
  color: #fff;
  -webkit-box-shadow: 0 1rem 2rem rgba(102, 102, 102, 0.2);
          box-shadow: 0 1rem 2rem rgba(102, 102, 102, 0.2);
}

.btnn:active {
  -webkit-transform: translateY(-1px);
          transform: translateY(-1px);
  -webkit-box-shadow: 0 0.5rem 1rem rgba(102, 102, 102, 0.2);
          box-shadow: 0 0.5rem 1rem rgba(102, 102, 102, 0.2);
}

.btnn--blue {
  background-color: #3295e6;
  color: #fff;
}

.btnn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 10rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  -webkit-transition: all .4s;
  transition: all .4s;
}

.btnn:hover::after {
  -webkit-transform: scaleX(1.4) scaleY(1.6);
          transform: scaleX(1.4) scaleY(1.6);
  opacity: 0;
}

.btnn--blue::after {
  background-color: #004883;
}

.btnn--animated {
  -webkit-animation: moveInBottom .5s ease-out .75s;
          animation: moveInBottom .5s ease-out .75s;
  -webkit-animation-fill-mode: backwards;
          animation-fill-mode: backwards;
}

.butn:link, .butn:visited {
  padding: .8rem 5rem;
  background-color: #3295e6;
  color: #fff;
  display: inline-block;
  font-size: 1.5rem;
  border-radius: .5rem;
  -webkit-transition: all .2s;
  transition: all .2s;
  position: relative;
  cursor: pointer;
  text-decoration: none;
}

.butn:hover {
  -webkit-transform: translateY(-3px);
          transform: translateY(-3px);
  background-color: #003a6a;
  color: #000;
  -webkit-box-shadow: 0 1rem 2rem rgba(102, 102, 102, 0.2);
          box-shadow: 0 1rem 2rem rgba(102, 102, 102, 0.2);
}

.butn:active {
  -webkit-transform: translateY(-1px);
          transform: translateY(-1px);
  -webkit-box-shadow: 0 0.5rem 1rem rgba(102, 102, 102, 0.2);
          box-shadow: 0 0.5rem 1rem rgba(102, 102, 102, 0.2);
}

.butn--white {
  background-color: none;
  color: #fff;
}

.butn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: .5rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  -webkit-transition: all .4s;
  transition: all .4s;
}

.butn:hover::after {
  -webkit-transform: scaleX(1.4) scaleY(1.6);
          transform: scaleX(1.4) scaleY(1.6);
  opacity: 0;
}

.butn--white::after {
  background-color: #004883;
}

.butn--animated {
  -webkit-animation: moveInBottom .5s ease-out .75s;
          animation: moveInBottom .5s ease-out .75s;
  -webkit-animation-fill-mode: backwards;
          animation-fill-mode: backwards;
}

.card {
  -webkit-perspective: 150rem;
          perspective: 150rem;
  -moz-perspective: 150rem;
  position: relative;
  height: 20rem;
  width: 35rem;
  margin-left: 3rem;
}

.card__side {
  height: 20rem;
  background-color: transparent;
  -webkit-transition: all .8s ease;
  transition: all .8s ease;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  border-radius: 3px;
  overflow: hidden;
  -webkit-box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
          box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
}

.card__side--back {
  -webkit-transform: rotateX(180deg);
          transform: rotateX(180deg);
}

.card__side--back-1 {
  background-image: -webkit-gradient(linear, left top, right bottom, from(#3295e6), to(#004883));
  background-image: linear-gradient(to right bottom, #3295e6, #004883);
}

.card__side--back-2 {
  background-image: -webkit-gradient(linear, left top, right bottom, from(#ffff00), to(#d1a002));
  background-image: linear-gradient(to right bottom, #ffff00, #d1a002);
}

.card__side--back-3 {
  background-image: -webkit-gradient(linear, left top, right bottom, from(#cccccc), to(#666666));
  background-image: linear-gradient(to right bottom, #cccccc, #666666);
}

.card__side--back-4 {
  background-image: -webkit-gradient(linear, left top, right bottom, from(#ffff00), to(#d1a002));
  background-image: linear-gradient(to right bottom, #ffff00, #d1a002);
}

.card__side--back-5 {
  background-image: -webkit-gradient(linear, left top, right bottom, from(#cccccc), to(#666666));
  background-image: linear-gradient(to right bottom, #cccccc, #666666);
}

.card__side--back-6 {
  background-image: -webkit-gradient(linear, left top, right bottom, from(#3295e6), to(#004883));
  background-image: linear-gradient(to right bottom, #3295e6, #004883);
}

.card__img {
  min-width: 100%;
  max-height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  overflow: hidden;
}

.card:hover .card__side--front {
  -webkit-transform: rotateX(-180deg);
          transform: rotateX(-180deg);
}

.card:hover .card__side--back {
  -webkit-transform: rotateX(0);
          transform: rotateX(0);
}

.card__picture {
  background-size: cover;
  height: 20rem;
  width: 35rem;
  background-blend-mode: screen;
}

.card__picture--1 {
  background-image: -webkit-gradient(linear, left top, right bottom, from(#3295e6), to(#004883));
  background-image: linear-gradient(to right bottom, #3295e6, #004883);
}

.card__heading {
  font-size: 2rem;
  font-weight: 300;
  text-transform: uppercase;
  text-align: right;
  color: #fff;
  position: absolute;
  top: 2rem;
  right: 2rem;
  width: 75%;
}

.card__heading-span {
  padding: 1rem 1.5rem;
  box-decoration-break: clone;
  -webkit-box-decoration-break: clone;
}

.card__heading-span--1 {
  background-image: -webkit-gradient(linear, left top, right bottom, from(rgba(50, 149, 230, 0.85)), to(rgba(0, 72, 131, 0.85)));
  background-image: linear-gradient(to right bottom, rgba(50, 149, 230, 0.85), rgba(0, 72, 131, 0.85));
}

.card__heading-span--2 {
  background-image: -webkit-gradient(linear, left top, right bottom, from(rgba(255, 255, 0, 0.85)), to(rgba(209, 160, 2, 0.85)));
  background-image: linear-gradient(to right bottom, rgba(255, 255, 0, 0.85), rgba(209, 160, 2, 0.85));
}

.card__heading-span--3 {
  background-image: -webkit-gradient(linear, left top, right bottom, from(rgba(204, 204, 204, 0.85)), to(rgba(102, 102, 102, 0.85)));
  background-image: linear-gradient(to right bottom, rgba(204, 204, 204, 0.85), rgba(102, 102, 102, 0.85));
}

.card__heading-span--4 {
  background-image: -webkit-gradient(linear, left top, right bottom, from(rgba(255, 255, 0, 0.85)), to(rgba(209, 160, 2, 0.85)));
  background-image: linear-gradient(to right bottom, rgba(255, 255, 0, 0.85), rgba(209, 160, 2, 0.85));
}

.card__heading-span--5 {
  background-image: -webkit-gradient(linear, left top, right bottom, from(rgba(204, 204, 204, 0.85)), to(rgba(102, 102, 102, 0.85)));
  background-image: linear-gradient(to right bottom, rgba(204, 204, 204, 0.85), rgba(102, 102, 102, 0.85));
}

.card__heading-span--6 {
  background-image: -webkit-gradient(linear, left top, right bottom, from(rgba(50, 149, 230, 0.85)), to(rgba(0, 72, 131, 0.85)));
  background-image: linear-gradient(to right bottom, rgba(50, 149, 230, 0.85), rgba(0, 72, 131, 0.85));
}

.card__cta {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 90%;
  text-align: center;
}

.feature-box {
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 3px;
  height: 35rem;
  width: 35rem;
  -webkit-box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
          box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
  -webkit-transition: -webkit-transform .3s;
  transition: -webkit-transform .3s;
  transition: transform .3s;
  transition: transform .3s, -webkit-transform .3s;
}

.feature-box__img {
  min-width: 100%;
  max-height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  overflow: hidden;
}

.feature-box__img--text {
  text-decoration: none;
  color: white;
}

.feature-box:hover {
  -webkit-transform: translateY(-1.5rem) scale(1.03);
          transform: translateY(-1.5rem) scale(1.03);
  background-color: #cccccc;
}

.slideshows {
  position: relative;
  width: 95vw;
  background-color: #fff;
  display: block;
  z-index: 100;
}

.slideshows__paragraph {
  font-family: POPPINS;
  font-size: 3rem;
  font-weight: 400;
  padding-left: 5rem;
  text-align: center;
  color: #004883;
  letter-spacing: .4rem;
  bottom: -15rem;
  overflow: hidden;
  z-index: 50;
  -webkit-box-flex: inline;
      -ms-flex: inline;
          flex: inline;
  float: left;
  left: 5rem;
}

.slideshows__slides--img {
  width: 40rem;
  height: 20rem;
  position: absolute;
  bottom: -20rem;
  float: right;
  right: 7rem;
  -o-object-fit: cover;
     object-fit: cover;
  overflow: hidden;
  z-index: 50;
}

.w3-button {
  padding: .5rem .5rem;
  background-color: #fff;
  width: 3rem;
  border-radius: 3rem;
}

.w3-display-left {
  float: left;
  margin-top: 5rem;
  margin-left: 3rem;
  top: 8rem;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: pointer;
}

.w3-display-right {
  float: right;
  margin-top: 5rem;
  margin-right: 3rem;
  top: 8rem;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: pointer;
}

.billboard {
  position: relative;
  display: block;
}

.billboard__group {
  position: absolute;
  display: block;
}

.billboard__paragraph {
  color: #fff;
  font-family: Poppins;
  width: 65rem;
  font-size: 3rem;
  font-weight: 700;
  padding: 3rem .1rem;
  float: left;
  top: 2rem;
  left: 2rem;
}

.billboard__link {
  color: #1c87c9;
}

.billboard__img {
  float: right;
  height: max-height;
  right: 15rem;
  position: absolute;
  width: 25rem;
}

.header {
  height: 95vh;
  background-image: -webkit-gradient(linear, left top, right bottom, from(rgba(50, 149, 230, 0.6)), to(rgba(0, 72, 131, 0.6))), url(../img/scene8.jpg);
  background-image: linear-gradient(to right bottom, rgba(50, 149, 230, 0.6), rgba(0, 72, 131, 0.6)), url(../img/scene8.jpg);
  background-size: cover;
  background-position: top;
  position: relative;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
          clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
}

.header__logo {
  height: 6.5rem;
  width: 13.5rem;
}

.header__text-box {
  position: absolute;
  top: 40%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-align: center;
}

nav::after {
  content: "";
  clear: both;
  display: table;
}

.navigation__nav {
  font-family: Arial;
  margin: 0;
  padding-top: 1rem;
  padding-bottom: 9rem;
  font-size: 15px;
  overflow: hidden;
  color: #fff;
  background-color: none;
  position: fixed;
  width: 100%;
  top: 0;
}

.navigation__list {
  float: right;
  position: absolute;
  right: 2rem;
}

.navbar__logo-box {
  position: absolute;
  left: 2rem;
}

.navigation__link {
  /* unvisited link */
  /* visited link */
  /* mouse over link */
  /* selected link */
}

.navigation__link:link {
  color: #fff;
  text-decoration: none;
}

.navigation__link:visited {
  color: #d1a002;
  text-decoration: none;
}

.navigation__link:hover {
  color: #000;
  text-decoration: none;
}

.navigation__link:active {
  color: #d1a002;
  text-decoration: none;
}

.navigation__item:not(:last-child) {
  display: inline;
  font-weight: bold;
  padding: 8px 16px;
  text-decoration: none;
}

.navigation__item:last-child {
  display: inline;
  font-weight: bold;
  padding: 8px;
  text-decoration: none;
}

.row {
  max-width: 100%;
  background-color: transparent;
  margin: 0 auto;
  margin-bottom: 8rem;
}

.row:not(:last-child) {
  margin-bottom: 8rem;
}

.row::after {
  content: "";
  display: table;
  clear: both;
}

.row [class^="col-"] {
  background-color: transparent;
  float: left;
}

.row [class^="col-"]:not(:last-child) {
  margin-right: 3rem;
}

.row .col-1-of-2 {
  width: calc((100% - 3rem) / 2);
}

.row .col-1-of-3 {
  width: calc((100% - 2 * 3rem) / 3);
}

.row .col-2-of-3 {
  width: calc(2 * ((100% - 2 * 3rem) / 3) + 3rem);
}

.row .col-1-of-4 {
  width: calc((100% - 3 * 3rem) / 4);
}

.row .col-2-of-4 {
  width: calc(2 * ((100% - 3 * 3rem) / 4) + 3rem);
}

.row .col-3-of-4 {
  width: calc(3 * ((100% - 3 * 3rem) / 4) + 2 * 3rem);
}

.footer {
  width: 100%;
  background-color: #fff;
  padding: 2rem 0;
  font-size: 1.5rem;
  color: #cccccc;
  position: relative;
  margin-top: 3rem;
}

.footer__high {
  border-top: 1px solid #000;
  border-width: 100%;
}

.footer__heading {
  top: 3rem;
  text-align: left;
  position: absolute;
  left: 5rem;
}

.footer__heading-2 {
  top: 3rem;
  text-align: right;
  position: absolute;
  right: 95rem;
}

.footer__heading-3 {
  top: 3rem;
  text-align: right;
  position: absolute;
  right: 78rem;
}

.footer__logo-box {
  top: 30rem;
  text-align: left;
  margin-bottom: 5rem;
  position: absolute;
  left: 4rem;
}

.footer__logo {
  height: 7.5rem;
  width: 15.5rem;
  padding-bottom: 2rem;
}

.footer__navigation {
  padding-top: 2rem;
  display: block;
}

.footer__list {
  top: 5rem;
  float: left;
  position: absolute;
  left: 5rem;
}

.footer__list-2 {
  top: 5rem;
  float: right;
  position: absolute;
  right: 90rem;
}

.footer__list-3 {
  top: 5rem;
  float: right;
  position: absolute;
  right: 75rem;
}

.footer__item {
  display: block;
  margin-top: 1.5rem;
  margin-left: 1.5rem;
}

.footer__link:link, .footer__link:visited {
  color: #777;
  text-decoration: none;
  display: block;
  -webkit-transition: all .2s;
  transition: all .2s;
  text-decoration: none;
}

.footer__link:hover, .footer__link:active {
  color: #777;
  text-decoration: underline;
}

.footer__font {
  padding-top: 2rem;
  color: #000;
  float: right;
  font-size: 1.5rem;
  position: absolute;
  right: 10rem;
}

.footer__copyright {
  padding-top: 2rem;
  color: #cccccc;
  float: right;
  font-size: 1.2rem;
  position: absolute;
  right: 4rem;
}

.sprite__icon-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-item-align: stretch;
      align-self: stretch;
}

.sprite__icon-box > * {
  padding: 0 .1rem;
  cursor: pointer;
}

.sprite__icon-box > *:hover {
  color: #777;
}

.sprite__user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.sprite__icon {
  height: 2.25rem;
  width: 2.25rem;
  padding-top: 31rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  bottom: 5rem;
}

.section-features {
  padding: 20rem 6rem;
  background-image: -webkit-gradient(linear, left top, right bottom, from(rgba(204, 204, 204, 0.3)), to(rgba(102, 102, 102, 0.3))), url(../img/shoot0.jpg);
  background-image: linear-gradient(to right bottom, rgba(204, 204, 204, 0.3), rgba(102, 102, 102, 0.3)), url(../img/shoot0.jpg);
  background-size: cover;
  -webkit-transform: skewY(-7deg);
          transform: skewY(-7deg);
  margin-top: -8rem;
}

.section-features > * {
  -webkit-transform: skewY(7deg);
          transform: skewY(7deg);
}

.section-realities {
  background-color: #004883;
  padding: 20rem 0 25rem 0;
  margin-top: -8rem;
}

.section-slideshows {
  background-color: #fff;
  padding: 5rem 0 15rem 0;
}

.section-billboard {
  background-color: #d1a002;
  padding: 5rem 5rem;
  margin: 0 5rem;
  border-radius: .5rem;
  height: 35rem;
}
/*# sourceMappingURL=main.css.map */