.billboard {
    position: relative;
    display: block;
    padding: 0 5rem;

    @include respond(tab-port) {
        padding: none;
    }

    &__group {
      position: absolute;
      display: block;  
    }

    &__paragraph {
        color: $color-white;
        font-family: POPPINS;
        width: 80rem;
        font-size: 3rem;
        font-weight: 700;
        padding: 3rem .1rem;
        float: left;
        top: 2rem;
        left: 2rem;

        @include respond(tab-port) {
            float: left;
            left: 3rem;
            width: 60rem;
            font-size: 3rem;
            text-align: none;
        }
    
    
        @include respond(phone) {
            float: left;
            left: 0;
            width: 31rem;
            font-size: 2.5rem;
            text-align: none;
        }
    }

    &__link {
        color: $color-secondary;
    }
    
    &__img {
        float: right;
        height: max-height;
        overflow: hidden;
        // padding-top: 5rem;
        right: 10rem;
        position: absolute;
        display: block;
        width: 25rem;
        
        @include respond(phone) {
            position: absolute;
            margin-left: 3rem;
            margin-top: 4rem;
            width: 20rem;
            height: 25rem;
        }
    }
}

