.billboard {
    position: relative;
    display: block;
    padding: 0 5rem;

    &__group {
      position: absolute;
      display: block;  
    }

    &__paragraph {
        color: $color-white;
        font-family: POPPINS;
        width: 80rem;
        font-size: 3rem;
        font-weight: 700;
        padding: 3rem .1rem;
        float: left;
        top: 2rem;
        left: 2rem;
    }

    &__link {
        color: $color-secondary;
    }
    
    &__img {
        float: right;
        height: max-height;
        overflow: hidden;
        // padding-top: 5rem;
        right: 10rem;
        position: absolute;
        display: block;
        width: 25rem;
        
    }
}

