.billboard {
    position: relative;
    display: block;
    padding: 0 5rem;

    @include respond(tab-port) {
        padding: none;
    }

    &__group {
      position: relative;
      display: block;  
    }

    &__cta {
        position: absolute;
        top: 30rem;
        left: 3rem;
        margin: auto;


        @include respond(tab-port) {
            top: 30rem;
            margin-top: 5rem;        
        }

        @include respond(phone) {
            left: 20rem;  
        }

        @include respond(small-phone) {
            position: absolute;
            top: 60rem;
            left: 20%;
        }

      }

    &__paragraph {
        color: $color-white;
        font-family: POPPINS;
        width: 60%;
        font-size: 3rem;
        font-weight: 700;
        padding: 3rem .1rem;
        margin: auto;
        // float: left;
        position: relative;
        top: 0;
        left: 2%;

        @include respond(tab-land) {
            top: 2rem;
            left: 1.5%;
            width: 65%;
            font-size: 3rem;
            text-align: none;
            margin: auto;

        }

        @include respond(tab-port) {
            top: 2rem;
            left: 1.5%;
            width: 65%;
            font-size: 3rem;
            text-align: none;
            margin: auto;

        }
    
    
        @include respond(phone) {
            position: absolute;
            float: left;
            left: 0;
            width: 60%;
            font-size: 2.5rem;
            text-align: none;
        }

        @include respond(small-phone) {
            width: 100%;
        }
    }

    &__link {
        color: $color-secondary;
    }
    
    &__img {
        float: right;
        right: 10rem;
        height: min-height;
        overflow: hidden;
        margin: auto;
        position: absolute;
        display: block;
        width: 25%;

        @include respond(tab-land) {
            float: right;
            right: 3rem;
            margin: 5rem auto;
            width: 30%;
            height: 45rem;
        }
        
        @include respond(tab-port) {
            float: right;
            right: 5rem;
            margin: 5rem auto;
            width: 25%;
            height: 40rem;
        }

        @include respond(phone) {
            margin: auto;
            width: 30%;
            top: 5rem;
            right: 3rem;
            height: 30rem;
        }

        @include respond(small-phone) {
            position: absolute;
            margin: 3rem auto;
            top: 32rem;
            left: 3%;
            width: 60%;
            height: 28rem;
        }
    }
}

