
    .btn 
    {
      &:link,
      &:visited
      {
          padding: .7rem 1.5rem .7rem 1.5rem ;
          background-color: $color-primary-dark;
          color: $color-white;
          display: inline-block;
          font-size: 1.5rem;
          border: 2px solid $color-white;
          border-radius: .5rem;
          transition: all .2s;
          position: relative;
          cursor: pointer;
          text-decoration: none;
      }
            &:hover {
            transform: translateY(-3px);
            background-color: darken($color-primary, 5%);
            color: $color-black;
            box-shadow: 0 1rem 2rem rgba($color-grey-dark,.2);
            }

            &:active {
              transform: translateY(-1px);
              box-shadow: 0 .5rem 1rem rgba($color-grey-dark,.2);
            }
          
        &--white {
          background-color: none;
          color: $color-white;
        }

          &::after {
            content: "";
            display: inline-block;
            height: 100%;
            width: 100%;
            border-radius: .5rem;
            position: absolute;
            top: 0;
            left: 0;
            z-index: -1;
            transition: all .4s;
          }

        &:hover::after {
          transform: scaleX(1.4) scaleY(1.6);
          opacity: 0;
        }
    }

    .btn--white::after {
      background-color: transparent;
      
    }

    .btn--animated {
      animation: moveInBottom .5s ease-out .75s;
      animation-fill-mode: backwards;
    }




    .bttn
    {
      &:link,
      &:visited
      {
          padding: 1rem 3rem;
          // background-color: $color-primary;
          color: $color-white;
          display: inline-block;
          font-size: 1.2rem;
          // border: 2px solid $color-white;
          border-radius: 10rem;
          transition: all .2s;
          position: relative;
          cursor: pointer;
          text-decoration: none;
      }
            &:hover {
            transform: translateY(-3px);
            background-color: darken($color-white, 5%);
            color: $color-black;
            box-shadow: 0 1rem 2rem rgba($color-grey-dark,.2);
            }

            &:active {
              transform: translateY(-1px);
              box-shadow: 0 .5rem 1rem rgba($color-grey-dark,.2);
            }
          
        &--white {
          background-color: none;
          color: $color-white;
        }

          &::after {
            content: "";
            display: inline-block;
            height: 100%;
            width: 100%;
            border-radius: 10rem;
            position: absolute;
            top: 0;
            left: 0;
            z-index: -1;
            transition: all .4s;
          }

        &:hover::after {
          transform: scaleX(1.4) scaleY(1.6);
          opacity: 0;
        }
    }

    .bttn--white::after {
      background-color: $color-secondary-light;
      
    }

    .bttn--animated {
      animation: moveInBottom .5s ease-out .75s;
      animation-fill-mode: backwards;
    }




    .btnn
    {
      &:link,
      &:visited
      {
          padding: 1.3rem 3rem;
          background-color: $color-secondary-light;
          color: $color-white;
          display: inline-block;
          font-size: 1.5rem;
          // border: 2px solid $color-white;
          border-radius: 10rem;
          transition: all .2s;
          position: relative;
          cursor: pointer;
          text-transform: uppercase;
          text-decoration: none;
      }
            &:hover {
            transform: translateY(-3px);
            background-color: darken($color-secondary-light, 5%);
            color: $color-white;
            box-shadow: 0 1rem 2rem rgba($color-grey-dark,.2);
            }

            &:active {
              transform: translateY(-1px);
              box-shadow: 0 .5rem 1rem rgba($color-grey-dark,.2);
            }
          
        &--blue {
          background-color: $color-secondary-light;
          color: $color-white;
        }

        &::after {
          content: "";
          display: inline-block;
          height: 100%;
          width: 100%;
          border-radius: 10rem;
          position: absolute;
          top: 0;
          left: 0;
          z-index: -1;
          transition: all .4s;
        }

        &:hover::after {
          transform: scaleX(1.4) scaleY(1.6);
          opacity: 0;
        }
    }


    .btnn--blue::after {
      background-color: $color-secondary-dark;
      
    }

    .btnn--animated {
      animation: moveInBottom .5s ease-out .75s;
      animation-fill-mode: backwards;
    }


    .butn 
    {
      &:link,
      &:visited
      {
          padding: .8rem 5rem;
          background-color: $color-secondary-light;
          color: $color-white;
          display: inline-block;
          font-size: 1.5rem;
          border-radius: .5rem;
          transition: all .2s;
          position: relative;
          cursor: pointer;
          text-decoration: none;
      }
            &:hover {
            transform: translateY(-3px);
            background-color: darken($color-secondary-dark, 5%);
            color: $color-black;
            box-shadow: 0 1rem 2rem rgba($color-grey-dark,.2);
            }

            &:active {
              transform: translateY(-1px);
              box-shadow: 0 .5rem 1rem rgba($color-grey-dark,.2);
            }
          
        &--white {
          background-color: none;
          color: $color-white;
        }

          &::after {
            content: "";
            display: inline-block;
            height: 100%;
            width: 100%;
            border-radius: .5rem;
            position: absolute;
            top: 0;
            left: 0;
            z-index: -1;
            transition: all .4s;
          }

        &:hover::after {
          transform: scaleX(1.4) scaleY(1.6);
          opacity: 0;
        }
    }

    .butn--white::after {
      background-color: $color-secondary-dark;
      
    }

    .butn--animated {
      animation: moveInBottom .5s ease-out .75s;
      animation-fill-mode: backwards;
    }