.feature-box {
    background-color: rgba($color-white, .8);
    border-radius: 3px;
    height: 35rem;
    width: 35rem;
    box-shadow: 0 1.5rem 4rem rgba($color-black, .15);
    transition: transform .3s;

    &__img {
        min-width:100%; 
        max-height:100%; 
        object-fit: cover; 
        overflow: hidden; 
        
        &--text {
            text-decoration: none;
            color: white;
        }
    }

    &:hover {
        transform: translateY(-1.5rem) scale(1.03);
        background-color: $color-grey-light;
    }
}