// USER NAVIGATION

.user-nav {
    color: $color-grey-light-2;
    font-weight: 500rem;
    font-family: Lato, "sans-serif";

    &__icon-box {
        padding: 1rem;
        align-items: center;
        position: relative;

        &:hover {
            background-color: $color-secondary-dark;
        }
    }

    &__icon-location {
        padding: 1rem;
        position: relative;
        padding-right: none;

        &:hover {
            color: $color-primary-light;
        }
    }

    &__icon {
        height: 2.25rem;
        width: 2.25rem;
        fill: $color-secondary-light;

        &-main {
            display: block;
            justify-content: space-between;
            padding-right: .5rem;
            cursor: pointer;
           
            &-1 {
                display: flex;
                padding-bottom: 5.5rem;
                align-items: center;
            }

            &-2 {
                padding-top: 7.5rem;
                align-items: center;
                text-decoration: underline;
            }
        }
    }

    &__heading {
        color: $color-grey-light;
        font-size: 8rem;
        font-weight: 900rem;
        font-family: Lato, "sans-serif";
    }

    &__notification {
        font-size: .8rem;
        height: 1.45rem;
        width: 1.25rem;
        border-radius: 80%;
        background-color: $color-primary;
        color: $color-white;
        position: absolute;
        top: 1rem;
        left: 3.1rem;

        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__user {
        display: block;
        align-self: flex-end;
        padding-top: 5rem;
        height: 27rem;
        width: 34rem;
        // background-color: $color-secondary-dark;


        &_1 {
            align-self: center;
        }
        
        &-2 {

            &:hover {
                color: $color-primary-light;
            }
            padding: 2rem;
            cursor: pointer;
            margin-top: .5rem;
        }
    }

    &__user-photo {
        height: 14.75rem;
        width: 14.75rem;
        border-radius: 100%;
        border: $color-white;
        margin-left: 3rem;
    }

    &__user-name {
        font-size: 2rem;
        font-weight: 600rem;
    }

    &__user-mail {
        align-items: center;

        &-1 {
        fill: $color-secondary-light;
        margin-left: 3rem;
        height: 2.25rem;
        width: 2.25rem;
        }
    }
}