
body {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    line-height: 1.7;
    color: $color-grey;
  }
  
    .heading-primary {
        color: $color-white;
        text-transform: uppercase;

        backface-visibility: hidden;
        margin-bottom: 6rem;

        &--main {
          display: block;
          font-size: 4rem;
          font-weight: 600;
          letter-spacing: 3.5rem;
  
          animation-name: moveInLeft;
          animation-duration: 1s;
          animation-timing-function: ease-out;


        @include respond(phone) {
          letter-spacing: 1rem;
          font-family: 5rem; 
        }
      }
  
        &--sub {
          display: block;
          font-size: 1.5rem;
          font-weight: 450;
          letter-spacing: 1.75rem;
          animation: moveInRight 1s ease-out;

          @include respond(phone) {
            letter-spacing: .5rem;
          }
  
      }
    }

    .heading-secondary {
      color: $color-white;
      background-color: $color-black;
      border: 1px solid $color-secondary-light;
      font-size: 1.9rem;
      text-transform: uppercase;
      text-align: center;
      backface-visibility: hidden;
      padding: 2rem;
      margin-bottom: 2rem;
    }

    .heading-tertiary {
      font-size: 3.5rem;
      text-transform: uppercase;
      font-weight: 700;
      display: inline-block;
      background-image: linear-gradient(to right, $color-grey-light, $color-grey-dark);
      -webkit-background-clip: text;
      color: transparent;
      letter-spacing: .2rem;
      transition: all .2s;

      @include respond(tab-port) {
        font-size: 3rem;
      }

      @include respond(phone) {
        font-size: 2.5rem;
      }

      &:hover {
        transform: skewY(2deg) skewX(15deg) scale(1.1);
        text-shadow: .5rem 1rem 2rem rgba($color-black, .2);
      }
    }

    .heading-tertiary-2 {
      font-size: 2.5rem;
      text-transform: uppercase;
      font-weight: 700;
      padding: 2rem 5rem;
      margin: 0 10rem;
      width: 90rem;
      display: block;
      background-image: linear-gradient(to right, $color-primary-light, $color-primary-dark);
      -webkit-background-clip: text;
      text-align: center;
      color: transparent;
      // letter-spacing: .2rem;
      // transition: all .2s;

      @include respond(tab-port) {
        font-size: 2rem;
      }

      @include respond(phone) {
        font-size: 1.5rem;
      }
    }

    .heading-tertiary-small {
        font-size: 1.6rem;
        font-weight: 700;
        text-transform: uppercase;
    }

    .heading-tertiary-small-3 {
      font-size: 1.6rem;
      font-weight: 700;
      text-align: center;
  }

    .heading-tertiary-small-2 {
      font-size: 1.6rem;
      font-weight: 700;
      color: $color-white;
      padding-bottom: 6rem;
      text-transform: uppercase;
  }

    .heading-tertiary-small-1 {
      font-size: 1.6rem;
      font-weight: 700;
      text-transform: uppercase;
  }


    .paragraph {
        font-size: 1.6rem;

        &:not(:last-child) {
          margin-bottom: 3rem;
        }
    }
