.profile-main {
    color: $color-grey-dark;
    background-color: $color-grey-light-2;
    margin: 5rem;
    padding: 4rem;
    height: 40rem;
    width: 75rem;
    border-radius: 3%;
    font-weight: 500rem;
    font-family: Lato, "sans-serif";

    &__profile {

        &_1 {
            align-self: center;
        }
        
        &-2 {
            font-size: 1.5rem;
            cursor: pointer;
            width: 45rem;

            &:hover {
                color: $color-primary-dark;
            }
        }
    }

    &__profile-photo {
        height: 14.75rem;
        width: 14.75rem;
        border-radius: 100%;
        border: 2px solid $color-white;
        margin-left: 3rem;
        margin-bottom: 2rem;
    }

    &__profile-nom {
        font-size: 2.5rem;
        font-weight: 800rem;
        color: $color-black;        
        width: 45rem;

        &:hover {
            color: $color-primary-dark;
        }
    }

    &__profile-mail {

        &-1 {
        fill: $color-secondary-light;
        margin-left: 3rem;
        height: 2.25rem;
        width: 2.25rem;
        }
    }

    &__role {
        font-size: 2rem;
        font-weight: 500rem;
        color: $color-secondary-light;
        margin-left: 3rem;
    }
}


.profile-sub {
    color: $color-grey-dark;
    background-color: $color-primary;
    margin: 5rem;
    padding: 4rem;
    height: 22rem;
    width: 75rem;
    border-radius: 3%;
    font-weight: 500rem;
    font-family: Lato, "sans-serif";

    &__role {
        font-size: 2rem;
        font-weight: 500rem;
        color: $color-secondary-light;
        margin-left: 2rem;
        

        &-1 {
            font-size: 2rem;
            font-weight: 500rem;
            color: $color-secondary-light;
            background-color: $color-white;
            height: 3rem;
            margin-left: 1.5rem;
            text-align: center;
        }

        &-2 {
            font-size: 2rem;
            font-weight: 500rem;
            color: $color-black;
            margin-left: 3rem; 
            padding-top: 1rem;
            text-decoration: underline;
        }

        &-3 {
            font-size: 1.5rem;
            font-weight: 200rem;
            color: $color-black;
            margin-left: 3rem; 

            &--1 {
                margin-left: 3rem;
                width: 50rem;
            }
        }
    }

    &__button-1 {
        margin-left: 45rem;
    }
}