@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;700&display=swap');

  * {
    font-family: $mainFont;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  .signup__button {
    display: flex;
    border-bottom: 1px solid $newAccountButtonTextColor;
    padding-bottom:1.5rem;

    @include respond(small-phone) {
      display: block;
    }

    &-1 {
      margin: auto 2rem;

      @include respond(small-phone) {
        margin: auto auto 2rem auto;
      }
    }
  }

  .signup__container {
    background-color: linear-gradient(to right, $gradientColor1, $gradeintColor2);
    height: 70rem;
    width: 100%;
    background-color: $formBackgroundColor;

    @include respond(small-phone) {
      height: 90rem;
    }

    // &--high {
    //   border-top: 1px solid $newAccountButtonColor;
    //   border-width: 100%;
    // }

    .section-one {
      height: 10%;
      background-color: $formBackgroundColor;

      .signup__logo {
        position: absolute;
        // height: 5rem;

        &-box {
          position: relative;
          // height: 1.5rem;
          // width: 3.5rem;
          left: 2rem;
        }
      }
    }

    .section-two {
      @include enableFlex(true);
      border-top: 1px solid $newAccountButtonTextColor;
      border-width: 100%;
      padding: 5rem auto;
      margin: none;
      height: 90%;
      .social-links {
        display: flex;
        position: relative;
        height: 5rem;
        cursor: pointer;
        margin: 2rem auto;
        @include enableFlex();
        .signup__container--facebook {
          @include enableFlex();
          position: absolute;
          left: -10.5rem;
          span {
            width: 40%;
            color: $loginWithAccountsTextColor;
            font-size: 0.8rem;
            padding-right: 0.4rem;
          }
          .signup__container--icon {
            height: 5rem;
            width: 5.3rem;
            border-radius: 100%;
            border: $gradientColor1 0.1rem solid;
            @include enableFlex();
            cursor: pointer;
            .signup__container--image {
              height: 50%;
              @include enableFlex();
            }
          }
        }
        .signup__container--twitter {
          @include enableFlex();
          position: absolute;
          right: -12rem;
          span {
            width: 50%;
            color: $loginWithAccountsTextColor;
            padding-left: 0.4rem;
            font-size: 0.85rem;
          }
          .signup__container--icon {
            height: 5rem;
            width: 5.3rem;
            border-radius: 100%;
            border: $gradientColor1 0.1rem solid;
            @include enableFlex();
            background-color: $formBackgroundColor;
            box-shadow: -0.5rem 0px $formBackgroundColor;
  
            .signup__container--image {
              height: 50%;
              @include enableFlex();
            }
          }
        }
      }

      .signup__container--text {
        font-size: 2.5rem;
        color: $inputPlaceholderColor;
        padding: 1.5rem auto;
        margin-top: 3rem;

        &-1 {
          padding: none;
          margin: none;
          font-size: 1.5rem;
        }
      }
      
      .main__form {
        @include enableFlex(true);

        button {
          @include buttonStyles($newAccountButtonColor,  $newAccountButtonTextColor);
          
        }
        a {
          text-decoration: none;
          @include enableFlex();
          color: $gradientColor1;
          font-weight: bold;
          margin-bottom: .5rem;
          transition: 0.3s ease-in-out;
          &:hover {
            color: $forgetHoverColor;
          }
        }

        .signup__container--1{
          display: flex;
          font-size: 1.5rem;
          position: relative;
          color: $inputTextColor;
          margin-bottom: 1.5rem;

          &-1 {
            padding-left: .5rem;
          }
      }

        &--input {
          display: flex;
          width: 100%;

          @include respond(small-phone) {
            display: block;
            width: 80%;
          }
          
          &-1 {
            padding: 1rem;
            margin-right: 1rem;
            width: 100%;
            border-radius: 0.2rem;
            border: $gradientColor1 0.01rem solid;
            color: $inputTextColor;
            background-color: $gradientColor1;
            margin-bottom: .5rem;
            font-size: medium;
            &::placeholder {
              color: $inputPlaceholderColor;
            }
            &:required {
                box-shadow: 4px 4px 20px rgba(200, 0, 0, 0.35);
              }
              &:focus {
                border: 1px solid $requiredfield;
                outline: none;
              }
              &:hover {
                opacity: 1;
              }
          }

          &-1-1 {
            width: 98%;

            @include respond(small-phone) {
              width: 80%;
            }
          }
        }
      }
    }
  }

  // #pass {
  //   width: 100%;
  // }
  

  
// //   @media only screen and (max-width: 768px) {
// //     .container {
// //       height: 35rem;
// //       .section-one {
// //         .social-links {
// //           .facebook {
// //             left: -8.2rem;
// //             span {
// //               font-size: small;
// //               padding-right: 0.9rem;
// //             }
// //             .icon {
// //               height: 4rem;
// //               width: 4rem;
// //               border-radius: 100%;
// //               img {
// //                 height: 3rem;
// //               }
// //             }
// //           }
// //           .twitter {
// //             right: -10rem;
// //             span {
// //               font-size: small;
// //             }
// //             .icon {
// //               height: 4rem;
// //               width: 4rem;
// //               border-radius: 100%;
// //               img {
// //                 height: 3rem;
// //               }
// //             }
// //           }
// //         }
// //         .main-form {
// //           input {
// //             width: 15rem;
// //           }
// //           button {
// //             width: 15rem;
// //           }
// //         }
// //       }
// //       .section-two {
// //         button {
// //           width: 15rem;
// //         }
// //       }
// //     }
// //   }
  
