.view {
    font-size: 1.6rem;

    &__header {
        font-size: 2.5rem;
        color: $color-black;
        text-align: center;
        text-transform: uppercase;
    }

    &__paragraph {
        font-size: 1.5rem;
        padding: 1rem;
    }

    &__text {
        display: flex;
        justify-content: space-between;

        &--parag {
            font-size: 1.6rem;
            padding: 0 3rem;
            width: 65rem;
        }

        &--parag-1 {
            font-size: 1.6rem;
            padding: 3rem 3rem;
            width: 100%;
        }
        // &--paragraph {

        // }

        &--image {
            padding-right: 5rem;
        }
    }

    &__text-2 {
        display: flex;
        padding: 0 5rem;
        justify-content: space-between;

        &.1 {
            padding-left: 4rem;
        }

        &.2 {
            padding-right: 5rem;
        }
    }
}

.space-me {
    padding-top: 2rem;
}